<h4> Search Results:</h4>
<div id= "search-results", class="well results-block">
		<strong>Ticker:</strong><%=@stock.ticker%>
		<strong>Name:</strong><%=@stock.name%>
		<strong>Price:</strong><%=@stock.price%>
		<%= link_to "Add to Portfolio", user_stocks_path(user: current_user, stock_ticker: @stock.ticker, stock_id: @stock.id ? @stock.id : ''), class: 'btn-btn-xs btn-success', method: :post%>
</div>
