<h4> Search Results:</h4>
<div id= "search-results", class="well results-block">
			<strong>Ticker:</strong><%=@stock.ticker%>
			<strong>Name:</strong><%=@stock.name%>
			<strong>Price:</strong><%=@stock.price%>
</div>