<h4> Search Results:</h4>
<div id= "search-results", class="well results-block">
		<strong>Ticker:</strong><%=@stock.ticker%>
		<strong>Name:</strong><%=@stock.name%>
		<strong>Price:</strong><%=@stock.last_price%>
		<% if current_user.can_add_stock?(@stock.ticker)%>
			<%= link_to "Add to Portfolio", user_stocks_path(stock_ticker: @stock.ticker, stock_id: @stock.id ? @stock.id : ''), class: 'btn btn-xs btn-success', method: :post%>

		<%else%>
			<br>
			<span class= "label label-default"> Stock cannot be added because you
				<%if !current_user.under_stock_limit?%>
					are already tracking the maximum 10 stocks. 
				<%elsif current_user.stock_already_added?(@stock.ticker)%>
					are already following the requested stock
				<%else%>
					have encountered an error
				<% end %>
			</span>
		<% end %>
</div>
